<nav>
    <a href="/">Home</a>
    <a href="/users/signup">Signup</a>
    <a href="/users/login">Login</a>
    <a href="/users/profile">Profile</a>
    <a href="/inventory">Inventory</a>
    <a href="/users/admin">Admin</a>
    <a href="/users/logout">Logout</a>
</nav>
<hr>
<h2>Administration Page</h2>
<div class="grid">
   <div class="col-6-10">
        
        <p>List of Employees:</p>
        <ul class='tasks'>
            {{#each users}}
            <li>
                <span class="badge">{{ UserId }}</span>{{FirstName}} {{LastName}}
                <button onclick="window.location.href='/users/admin/editUser/{{UserId}}'">View</button>
            </li>
            {{/each}}
        </ul>
    </div>
    
    <div class="col-4-10">
        <img src="/images/admin.png"  width="Auto" /><br><br><br><br>
    </div>
<hr/>
</div>
