<nav>
    <a href="/">Home</a>
    <a href="/users/signup">Signup</a>
    <a href="/users/login">Login</a>
    <a href="/users/profile">Profile</a>
    <a href="/inventory">Inventory</a>
    <a href="/users/admin">Admin</a>
    <a href="/users/logout">Logout</a>
</nav>
<hr>
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
